# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment directories
venv/
env/
.venv/
.env/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Editor-specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Test and coverage directories
.coverage
nosetests.xml
test_*.xml
*.cover
*.hypothesis/

# Logs and database files
*.log
*.sqlite3

# Configuration and environment files
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
Desktop.ini
